.paginationButtons {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 2% 0 2% 0;
}

.paginationButton {
    margin: 0 2% 0 2%;
    padding: 10px;
    border-radius: 15px;
    font-weight: 600;
    background-color: #2a75bb;
    color: #ffcb05;
    font-size: 2rem;
}

.pokemonContainer {
    display: flex;
    flex-wrap: wrap;
}